body {
  background: url(https://svgshare.com/i/Ubn.svg) center center fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  margin: 1vh;
}

#title {
  font-weight: 200;
  padding: 1vh;
  background-color: #fffffff2;
}

@media only screen and (max-width: 768px) {
  #chart {
    background-color: #fffffff2;
  }
}

#chart {
  background-color: #fffffff2;
  height: 90vh;
}